<span class="pretty-button">Click me!</span>

<style>

  body{
    padding: 50px;
  }

  /* Write your CSS here to make the div look like a button. */
  .pretty-button {
    background-color: lightblue;
    padding: 15px 10px;
    color: black;
    border: solid;
    border-radius: 7px;
  }

  .pretty-button:hover {
    background-color: lightgreen;
    box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 16px 0px rgba(0,0,0,0.75);

}


</style>
